.create-btn {
    margin-left: 5px;
}

.todo-form {
    margin-top: 10px;
    margin-bottom: 15px;
}

.list-items {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.delete-btn {
    margin-left: 5px
}

.list-collection {
    margin-top: 10px;
}

/* -----------------------> Spinner/Loading Icon Classes <---------------------- */
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* -----------------------> ----------------------------- <---------------------- */